@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-bg-color: #c7f9cc;
  --white-bg: white;
  --main-primary-color: #4ec46e;
  --main-button-color: #22577a;
  --main-font-color: #1c622e;
}

html * {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--white-bg);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.btn {
  padding: 14px 14px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
}
.btn-outline {
  color: #fff;
  border: 1px solid var(--main-button-color);
  background: var(--main-button-color);
}
.btn-primary {
  background: rgb(153, 217, 234);
  color: rgb(0, 24, 111);
}
.btn-secondary {
  background: var(--main-button-color);
  color: #fff;
}
