.chatContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Room and users component */

.roomTitleContainer {
  border-bottom: 1px solid;
  background-color: var(--main-primary-color);
}
.roomAndUsersColumn button {
  margin-left: 2rem;
}
.roomTitle {
  margin-bottom: 60px;
  font-size: 2rem;
  color: var(--main-font-color);
  padding: 1rem 0px 1rem 2rem;
  margin: 0px;
  color: white;
}

.usersTitle {
  font-size: 1.2rem;
  color: var(--main-font-color);
  margin-left: 2rem;
}
.usersList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 60px;
  color: var(--main-font-color);
  margin-left: 2rem;
}
.usersList li {
  margin-bottom: 8px;
  border-radius: 15px;
  background-color: #f7f5f5;
  width: 70%;
}

.userBubble {
  border-radius: 25px;
  border: 1px solid var(--secondary-font-color);
  background-color: var(--secondary-font-color);
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 2rem;
}

.currentUserBubble {
  border-radius: 25px;
  border: 1px solid var(--main-primary-color);
  background-color: var(--main-primary-color);
  color: white;
  height: 35px;
  width: 35px;
  text-align: center;
  line-height: 2rem;
}
.userContainer {
  display: flex;
  flex-direction: row;
}

.userContainer p {
  margin: auto 0px auto 10px;
}

/* Messages */
.messagesColumn {
  height: 90vh;
  width: auto;
  overflow: auto;
  padding: 10px 10px 10px 40px;
  background: var(--chat-bg);
  border-radius: 0px 0px 0px 6px;
}
.message {
  background: var(--msg-bubble);
  border-radius: 0px 25px 25px 25px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
}
.userMessage {
  background: var(--main-primary-color);
  border-radius: 25px 0px 25px 25px;
  margin-left: auto;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
}
.userMessage .msgText {
  color: white;
}
.userMessage .msgMeta {
  color: white;
}
.msgMeta {
  color: var(--main-font-color);
  font-size: 0.75rem;
}
.msgText {
  color: var(--main-font-color);
  margin-bottom: 0px;
}

/* Message input and button */
.sendMessageContainer {
  padding: 16px 20px 20px 0px;
  display: flex;
}
.sendMessageContainer button {
  background: var(--chat-bg);
  border: none;
  border-left: 1px solid darkgray;
  border-radius: 0px 6px 6px 0px;
}
.sendMessageContainer button:hover {
  cursor: pointer;
}
.sendMessageContainer button img {
  height: 30px;
}

.messageInput {
  padding: 14px;
  width: 95%;
  border-radius: 6px;
  font-size: 0.9rem;
  background: var(--chat-bg);
  border: none;
}

input:focus {
  outline: none;
}
