.chatContainer {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

/* Room and users component */
.roomAndUsersColumn {
  border-right: 1px solid #dfdfdf;
  margin-left: 2rem;
}
.roomTitle {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--main-font-color);
}
.usersTitle {
  font-size: 1.2rem;
  color: var(--main-font-color);
}
.usersList {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 60px;
  color: var(--main-font-color);
}
.usersList li {
  margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
  height: 90vh;
  width: auto;
  overflow: auto;
  padding: 10px 10px 10px 40px;
  background: var(--chat-bg);
}
.message {
  background: var(--msg-bubble);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
}
.userMessage {
  background: var(--main-primary-color);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
}
.userMessage .msgText {
  color: white;
}
.userMessage .msgMeta {
  color: white;
}
.msgMeta {
  color: var(--main-font-color);
  font-size: 0.75rem;
}
.msgText {
  color: var(--main-font-color);
}

/* Message input and button */
.sendMessageContainer {
  padding: 16px 20px 20px 16px;
  display: flex;
}
.sendMessageContainer button {
  background: none;
  border: none;
}
.sendMessageContainer button:hover {
  cursor: pointer;
}
.sendMessageContainer button img {
  height: 30px;
}

.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 80%;
  border-radius: 6px;
  font-size: 0.9rem;
  background: var(--chat-bg);
  border: none;
}

input:focus {
  outline: none;
}
